@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');
:root{
  --primary:#42b5a4;
  --secondary: #ffe286;
  --correct:hsl(153, 98%, 42%);
  --error:#e94f4f;

  
  background-color: var(--primary);
  font-family: 'Quicksand', sans-serif; 
}

.App{
  width: 100%;
  max-width: 380px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
 
}

.container{
  height: 400px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.score{
  color: white;
  font-size: 34px;
}
.start-again{
  width: 350px;
  background-color: white;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 10px 0;
  font-family: 'Quicksand', sans-serif; 
  font-weight: 700;
  cursor: pointer; 
  transition: all 0.2s linear;
  margin: 5px auto;
  box-shadow: 0px 3px 3px -2px rgba(153,153,153,0.25);
}

.start-again:hover{
  background-color: var(--primary);
  color: white;
  border: 1px solid white;
  outline: unset;
}
